/* example
$font-name: "raleway-medium";
$font-folder: "raleway";
$font-type: "medium";
@font-face {
	font-family: "Raleway Medium";
	src: url("../fonts/#{$font-folder}/#{$font-type}/#{$font-name}.woff");
	src: url("../fonts/#{$font-folder}/#{$font-type}/#{$font-name}.woff2") format("woff2"),
		 url("../fonts/#{$font-folder}/#{$font-type}/#{$font-name}.woff") format("woff"),
		 url("../fonts/#{$font-folder}/#{$font-type}/#{$font-name}.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
*/
